node_modules
.pnpm-store
**/node_modules
.git
.github
.turbo
**/.turbo
dist
build
**/build
**/dist
.next
**/.next
coverage
**/coverage
storage
**/storage
.env
.env.*
!.env.example
*.log
*.tsbuildinfo
**/*.log
**/tsconfig.tsbuildinfo
